<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Starter App">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.0"></script>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">google.load("jquery", "1.3.2");</script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Ultimate Market Making</title>
     <!-- href="http://localhost/development/PlayingCards/playingCards.ui.css"> -->
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/ultimatej/HelloRepo/master/PlayingCards/playingCards.ui.css">

<style type="text/css">
    <!-- body {
        margin-top: 1.0em;
        background-color: #fff;
        font-family: "Helvetica,Arial,FreeSans";
        color: #000000;
    } -->
    #container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: gray;
    }
    #top {
        text-align: center;
    }
    #countdown {
        <!-- color: #1B232F; -->
        <!-- font-family: Verdana, Arial, sans-serif; -->
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }
    #title {
        margin-bottom: 5px;
    }
    #expectedValue {
        margin: 0px;
    }
    #marketStats {
        margin: auto;
        width: 50%;
    }
    #marketAskDiv {
        float: left;
        width: 50%;
    }
    #marketAsk {
        margin-bottom: 0;
    }
    #marketAskPlayer {
        margin-top: 0;
    } 
    #marketBidDiv {
        float: right;
        width: 50%;
    }
    #marketBid {
        margin-bottom: 0;
    }
    #marketBidPlayer {
        margin-top: 0;
    }        
    #bottomContainer {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        text-align: center;
    }
    #yourHand {
        margin: auto;
        width: 15%;
    }
    #cardOne {
        float: left;
        width: 50%;
    }
    #cardTwo {
        float: right;
        width: 50%;
    }
    #myform {
        text-align: center;
        margin: 1%;
    }
    .qty {
        width: 40px;
        height: 25px;
        text-align: center;
    }
    input.buy {width:40px;}
    input.sell {width:40px;}
    input.qtyplus { width:25px; height:25px;}
    input.qtyminus { width:25px; height:25px;}
</style>
</head>

<body>
<div id="container">
<div id="top">
<div id="countdown"></div>
<h1 id='title'>Card Street</h1>
    <p id='expectedValue'>Expected Value</p>
<div id="marketStats">
<div id="marketAskDiv">
    <p id="marketAsk">$Market Ask</p>
    <p id="marketAskPlayer">$Market Ask Player</p>
</div>
<div id="marketBidDiv">
    <p id="marketBid">$Market Bid</p>
    <p id="marketBidPlayer">$Market Bid Player</p>
</div> 
</div>
<form id='myform'>
    <input type='button' value='-' class='qtyminus' field='quantity' onClick="minusButtonClick()" />
    <input type='text' id='yourBid' name='bidQuantity' value='0' class='qty' />
    <input type='text' id='yourAsk' name='askQuantity' value='1' class='qty' />
    <input type='button' value='+' class='qtyplus' field='quantity' onClick="plusButtonClick()" />
</form>
<form>
    <input type='button' id='buyButton' class='buy' value='Buy' onClick="buyButtonClick()" />
    <input type='button' id='sellButton' class='sell' value='Sell' onClick="sellButtonClick()" />
</form>
<form>
    <input type='button' id='startButton' value='Start' onClick="startButtonClick()" />
</form>
</div>
<div id="bottomContainer">
    <p id="currentPosition">This is your current position</p>
    <p id="handRankSum">This is the hand sum</p>
<div id="yourHand">
<div id="cardOne"></div>
<div id="cardTwo"></div> 
</div>
</div>
</div>
</body> 


<!-- <script src="http://localhost/development/PlayingCards/playingCards.js"></script>
<script src="http://localhost/development/PlayingCards/playingCards.ui.js"></script>
<script src="http://localhost/development/player.js"></script>
<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development --> 
<!-- <script src="http://localhost/development/app.js"></script>  -->

<script src="https://rawgit.com/ultimatej/HelloRepo/master/PlayingCards/playingCards.js"></script>
<script src="https://rawgit.com/ultimatej/HelloRepo/master/PlayingCards/playingCards.ui.js"></script>
<script src="https://rawgit.com/ultimatej/HelloRepo/master/player.js"></script>
<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development --> 
<script src="https://rawgit.com/ultimatej/HelloRepo/master/app.js"></script> 


]]></Content>
</Module>
